<!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>1대 1 채팅</title>
        <link rel = "stylesheet" href ="/css/home/index.css">
        <link rel = "stylesheet" href="/css/chat/chat.css">
        <script src="/js/chat/oneChatStart.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        
    </head>
    
    <body>
        <div class = "container">
            <header>
                <nav>
                    <div class = "icon" onclick="location.href = '/'">LiveChat</div>
                    <div class = "gnb">
                        <a href="/chat">오픈 채팅</a>
                        <a href="/board/page/1">게시판</a>
                        <a href="/chat/oneChat">1대1 채팅</a>
                        <a href="/chat/random">랜덤채팅</a>
                        <a href="/login" class="login_menu">로그아웃</a>
                    </div>
                </nav>
            </header>
        </div>
        <div class = "search-box">
            <input type="text" id="search"/>
            <button data-search="next" id="next" class="next-btn">∨</button>
            <button data-search="prev" id="prev" class="prev-btn">∧</button>
            <button data-search="clear" id="clear" class="clear-btn">Ⅹ</button>
            <span class="kwt-count" id="count">-</span>
            <button onclick = "" class="btn-search">검색하기</button>
        </div>

        <div class="content">
            
            <div class="chat-box" id="chat">
                <%
                    var i = 0;
                    for(i;i<rows.length;i++){
                        var data = rows[i];
                        var id = data.userId;
                        var flag = data.flag;
                        if(id===userId){
                            if(flag===0){%>
                                <div class="me"><%=data.userId%> : <%=data.chat%><span class="flag"></div>
                            <%}else{%>
                                <div class="me"><%=data.userId%> : <%=data.chat%><span class="flag"><%=data.flag%></span></div>
                            <%}        
                        }else{
                            %>
                            <div class="other"><%=data.userId%> : <%=data.chat%></div>
                        <%}
                    }%>
           
            </div>
            <div>
                <span id ="id"><%=userId%></span>
                <input class="text-submit" type="text" id="user"/>
                <button onclick="myOnClick()" class="btn-submit">전송</button>
            </div>
        </div>
        <input type="hidden" id = "seq" value="<%=seq%>"/>
    </body>
    <script>
        const pageUrl = window.location.href;
        
        const url = new URL(pageUrl);
        const urlParams = url.searchParams;

        const roomName = urlParams.get('name'); 
        const otherId = urlParams.get("id");

        const userId = document.getElementById("id").innerText;
        console.log(userId);

        let seq = document.getElementById("seq").value;  //채팅방 시퀀스
        console.log(seq);
        var socket = io.connect('http://localhost:5000');
        
        socket.emit('joinRoom',{roomName:roomName,userId:userId});

        socket.on('oneMsg', function (data) {
            console.log(data.comment)
            var chat = document.getElementById('chat');
            var className=data.class;
            /*switch(className) {
                case 'msg':
                className = 'other'
                break

                case 'connect':
                className = 'connect'
                break

                case 'disconnect':
                className = 'disconnect'
                break
            }*/
            var message = document.createElement('div');
            var node = document.createTextNode(data.comment)
            //document.getElementById("chat").append(data.comment);
            

            message.classList.add(className);
            message.appendChild(node);
            chat.appendChild(message);
        });

        function myOnClick() {
            var message = document.getElementById("user").value ;
            const req = {
                userId : userId,
                chat : message,
                seq : seq,
                otherId : otherId
            }

            fetch('/chat/oneInsert',{
                method:"POST",
                headers : {
                    "Content-Type" : "application/json",
                },
                body:JSON.stringify(req)
            })
            .then((res)=>res.json())
            .then((res)=>{
                if(res.success){
                    seq = res.seq;
                    console.log(seq);
                    oneMsg(message);
                }else{
                    alert("채팅 발송 중 오류 발생");
                }
            })
            
            
        }

        function oneMsg(message){
            console.log(roomName);
            console.log(seq);
            socket.emit('one',{roomName:roomName,userId:userId,comment:message,seq:seq})
            //socket.emit(roomName, {comment:msg});
            document.getElementById('user').value = '';
            var chat = document.getElementById('chat')
            var msg = document.createElement('div')
            var node = document.createTextNode(userId+" : "+message)
            msg.classList.add('me');
            msg.appendChild(node);
            chat.appendChild(msg);
        }
    </script>

            
</html>