<!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>1대 1 채팅</title>
        <link rel = "stylesheet" href ="/css/home/index.css">
        <link rel = "stylesheet" href="/css/chat/chat.css">
        <script src="/js/chat/oneChatStart.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/mark.min.js"></script>
    </head>
    <body>
        <div class = "container">
            <header>
                <nav>
                    <div class = "icon" onclick="location.href = '/'">LiveChat</div>
                    <div class = "gnb">
                        <a href="/chat">오픈 채팅</a>
                        <a href="/board/page/1">게시판</a>
                        <a href="/chat/oneChat">1대1 채팅</a>
                        <a href="/chat/random">랜덤채팅</a>
                        <a href="/login" class="login_menu">로그아웃</a>
                    </div>
                </nav>
            </header>
        </div>
        <div class = "search-box">
            <input type="text" id="search"/>
            <button data-search="next" class="next-btn">∨</button>
            <button data-search="prev" class="prev-btn">∧</button>
            <button data-search="clear" class="clear-btn">Ⅹ</button>
            <span class="kwt-count">-</span>
            <button onclick = "" class="btn-search">검색하기</button>
        </div>

        <div class="content">
            
            <div class="chat-box" id="chat">
                <%
                    var i = 0;
                    for(i;i<rows.length;i++){
                        var data = rows[i];
                        var id = data.userId;
                        var flag = data.flag;
                        if(id===userId){
                            if(flag===0){%>
                                <div class="me"><%=data.userId%> : <%=data.chat%><span class="flag"></div>
                            <%}else{%>
                                <div class="me"><%=data.userId%> : <%=data.chat%><span class="flag"><%=data.flag%></span></div>
                            <%}        
                        }else{
                            %>
                            <div class="other"><%=data.userId%> : <%=data.chat%></div>
                        <%}
                    }%>
           
            </div>
            <div>
                <span id ="id"><%=userId%></span>
                <input class="text-submit" type="text" id="user"/>
                <button onclick="myOnClick()" class="btn-submit">전송</button>
            </div>
        </div>
        <input type="hidden" id = "seq" value="<%=seq%>"/>
    </body>
    <script>
        const pageUrl = window.location.href;
        
        const url = new URL(pageUrl);
        const urlParams = url.searchParams;

        const roomName = urlParams.get('name'); 

        const userId = document.getElementById("id").innerText;
        console.log(userId);

        const seq = document.getElementById("seq").value;  //채팅방 시퀀스
        console.log(seq);
        var socket = io.connect('http://localhost:5000');
        
        socket.emit('joinRoom',{roomName:roomName,userId:userId});

        socket.on('oneMsg', function (data) {
            console.log(data.comment)
            var chat = document.getElementById('chat');
            var className=data.class;
            /*switch(className) {
                case 'msg':
                className = 'other'
                break

                case 'connect':
                className = 'connect'
                break

                case 'disconnect':
                className = 'disconnect'
                break
            }*/
            var message = document.createElement('div');
            var node = document.createTextNode(data.comment)
            //document.getElementById("chat").append(data.comment);
            

            message.classList.add(className);
            message.appendChild(node);
            chat.appendChild(message);
        });

        function myOnClick() {
            var message = document.getElementById("user").value ;
            const req = {
                userId : userId,
                chat : message,
                seq : seq,
            }

            fetch('/chat/oneInsert',{
                method:"POST",
                headers : {
                    "Content-Type" : "application/json",
                },
                body:JSON.stringify(req)
            })
            .then((res)=>res.json())
            .then((res)=>{
                if(res.success){
                    oneMsg(message);
                }else{
                    alert("채팅 발송 중 오류 발생");
                }
            })
            
            
        }

        function oneMsg(message){
            console.log(roomName);
            socket.emit('one',{roomName:roomName,userId:userId,comment:message,seq:seq})
            //socket.emit(roomName, {comment:msg});
            document.getElementById('user').value = '';
            var chat = document.getElementById('chat')
            var msg = document.createElement('div')
            var node = document.createTextNode(userId+" : "+message)
            msg.classList.add('me');
            msg.appendChild(node);
            chat.appendChild(msg);
        }
    </script>

    <!--페이지 내 검색 기능-->
   
    <script>
        document.body.onload = function() {
            var $input = document.querySelector("input[type='text']"),
                    $clearBtn = document.querySelector("button[data-search='clear']"),
                    $prevBtn = document.querySelector("button[data-search='prev']"),
                    $nextBtn = document.querySelector("button[data-search='next']"),
                    $content = document.querySelector(".chat-box"),
                    $contentMark = new Mark($content),
                    $results,
                    currentClass = "current",
                    offsetTop = 200,
                    currentIndex = 0;
            var variableCounter = 0;
            var totalCount = 0;
                
            $input.addEventListener("input", function() {
                 var searchVal = this.value;
                 $contentMark.unmark( {
                    done: function(totalMatches) {
                        $contentMark.mark(searchVal, {
                            separateWordSearch: false,
                            acrossElements: true,
                            done: function(totalMatches) {
                                $results = $content.querySelectorAll("mark");
                                totalCount = totalMatches;
                                if (totalCount) {
                                    variableCounter = 1;
                                    $(".kwt-count").html(variableCounter+ " / " +totalCount);
                                }
                            }
                      });
                    }
                });
            });

            $nextBtn.addEventListener("click", prevNextHandler);
            $prevBtn.addEventListener("click", prevNextHandler);
            $nextBtn.after($prevBtn);
            function prevNextHandler() {
                if ($results.length) {
                    currentIndex += (this.dataset.search === "prev" ? -1 : 1);
                    if (currentIndex < 0) {
                        currentIndex = $results.length - 1;
                    }
                    if (currentIndex > $results.length - 1) {
                        currentIndex = 0;
                    }
                    jumpTo();
                }
            }
            $("[data-search=next]").click(function() {
			if (variableCounter < totalCount)
				variableCounter = variableCounter + 1;
			else
				variableCounter = 1;
			$(".kwt-count").html(variableCounter+ " / " +totalCount);
		})

		$("[data-search=prev]").click(function() {
			if (variableCounter > 1)
				variableCounter = variableCounter - 1;
			else
				variableCounter = totalCount;
			$(".kwt-count").html(variableCounter+ " / " +totalCount);
		})
        function jumpTo() {
			if ($results.length) {
				var position,
						$current = $results[currentIndex];
				$results.forEach($result => $result.classList.remove(currentClass));
				if ($current) {
					$current.classList.add(currentClass);
					position = $current.offsetTop - offsetTop;
					window.scrollTo(0, position);
				}
			}
		}
        $clearBtn.addEventListener("click", function() {
			$contentMark.unmark();
			$input.value = ""
			$input.focus();
			variableCounter = 0;
			totalCount = 0;
			$(".kwt-count").html("-");
		});
        };
    </script>
</html>