<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/home/login.css">
        <link rel="stylesheet" href="/css/home/index.css">
        <link rel="stylesheet" href="/css/chat/chat.css">
        <script src="/js/home/login.js" defer></script>
        <script src="/js/chat/newOpen.js"></script>
        <script src="/socket.io/socket.io.js"></script>
            <!--css 모듈화 및 불필요 링크들 제거-->
        <style>
            div.select-box {
                border: 2px solid #B8860B;
                width: 450px;
                position: fixed;
                top: 100px;
                right: 400px;
            }
            div.menu {
                position: fixed;
                top:-150px;
                right: 350px;

            }
            .table {
                position: fixed;
                top:200px;
                left: 300px;
            }
        </style>

        <title>Document</title>
    </head>
    <script>
         function goOpenChat(seq,name){
            console.log(seq);
            seq = seq + "open";
            location.href = "/chat/openRoom?seq="+seq;
        }
    </script>
    <body>
        <div class = "container">
            <header>
                <nav>
                    <div class = "icon" onclick="location.href = '/'">HolyMoly</div>
                    <div class = "gnb">
                        <a href="/chat">오픈 채팅</a>
                        <a href="/board">게시판</a>
                        <a href="/">1대1 채팅</a>
                        <a href="/chat/random">랜덤채팅</a>
                        <a href="/login" class="login_menu">로그아웃</a>
                    </div>
                </nav>
            </header>
        </div>
        </select>
        <div class = "menu">
        <span class = "select-box" style="vertical-align:middle;">
            <select id = "list" name = "list" style="width:100px;">
                <option value = "작성자" >작성자</option>
                <option value = "제목">제목</option>
                <option value = "내용">내용</option>
        </div>
        <span class = "search-box">
            <input type="text" id="search"/>
            <button class="btn-search">검색하기</button>
        </span>
        <span>
            <button class = "btn-write">게시글 작성하기</button>
        </span>
    </div>
    <table class = "table">
        <tr>
            <td width = "50">seq</td>
            <td width = "100">작성자</td>
            <td width = "300">제목</td>
            <td width = "200">작성일</td>
            <td width = "100">조회수</td>
        </tr>
        <%
        for(var i=0; i<rows.length; i++)
        {
            var data = rows[i];
        %>
        <tr>
            <td><%=data.seq%></td>
            <td><%=data.openName%></td>
            <td><a href="/board/read/<%=data.seq%>"><%=data.openCategory%></a></td>
            <td><%=data.openCategory%></td>
            <td><%=data.openDetail%></td>
            <td><%=data.openDetail%></td>
        </tr>
        <%}%>
    </table>
    </body>
</html>