<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contnet</title>
    <link rel = "stylesheet" href ="/css/home/index.css">
    <link rel = "stylesheet" href ="/css/board/board.css">
</head>
<script>

    function goModify(seq) {

        location.href = '/board/content/seq=' + seq;
    }
</script>
<body>
    <div class = "container">
        <header>
            <nav>
                <div class = "icon" onclick="location.href = '/'">LiveChat</div>
                <div class = "gnb">
                    <a href="/chat">오픈 채팅</a>
                    <a href="/board/page/1">게시판</a>
                    <a href="/chat/oneChat">1대1 채팅</a>
                    <a href="/chat/random">랜덤채팅</a>
                    <a href="/login" class="login_menu">로그아웃</a>
                </div>
            </nav>
        </header>
    </div>
    <h2>게시판 내용</h2>
    <table class = "table">
        <tr>
            <td>seq: </td>
            <td><%=row.seq%></td>
        </tr>
        <tr>
            <td>작성자: </td>
            <td><%=row.writer%></td>
        </tr>
        <tr>
            <td>제목: </td>
            <td><%=row.title%></td>
        </tr>
        <tr>
            <td>내용: </td>
            <td><%=row.content%></td>
        </tr>
        <tr>
            <td>날자: </td>
            <td><%=row.date%></td>
        </tr>
        <tr>
            <td>조회수: </td>
            <td><%=row.views%></td>
        </tr>
        <tr>
            <td colspan = "2">
                <a href = "/board/content/seq=<%=row.seq%>";>수정</a>
                <a href = "/board/page/1">리스트</a>
            </td>
        </tr>
    </table>
    </form>
    <div class="mt-4">
        <div id="comment_form" class="input-group mb-3">
            <span class="comment">댓글&nbsp;  </span>
            <input id="comment" class="input-comment" type="text" class="form-control" placeholder="댓글을 입력하세요." >
            <button  class="btn-only" type="button" id="comment_btn">댓글등록</button>
        </div>
        <div id="comment_wrap">
            <table class="table">
                
                    <tr>
                        <th style="min-width:4rem;">닉네임</th>
                        <th style="min-width:9rem;">내용</th>
                        <th style="text-align:center;">작성일</th>
                        <th style="min-width:2.5rem"></th>
                        <th style="min-width:2.5rem"></th>
                    </tr>
                
                <tbody id="comment_table">

                </tbody>

            </table>
        </div>
    </div>
</body>
</html>