<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contnet</title>
</head>
<script>

    function goModify(seq) {

        location.href = '/board/content/seq=' + seq;
    }
</script>
<body>
    <h2>게시판 내용</h2>
    <table class = "table">
        <tr>
            <td>seq: </td>
            <td><%=row.seq%></td>
        </tr>
        <tr>
            <td>작성자: </td>
            <td><%=row.writer%></td>
        </tr>
        <tr>
            <td>제목: </td>
            <td><%=row.title%></td>
        </tr>
        <tr>
            <td>내용: </td>
            <td><%=row.content%></td>
        </tr>
        <tr>
            <td>날자: </td>
            <td><%=row.date%></td>
        </tr>
        <tr>
            <td>조회수: </td>
            <td><%=row.views%></td>
        </tr>
        <tr>
            <td colspan = "2">
                <a href = "/board/content/seq=<%=row.seq%>";>수정</a>
                <a href = "/board/page/1">리스트</a>
            </td>
        </tr>
    </table>
    </form>
    <div class="mt-4">
        <h3>댓글</h3>
        <div id="comment_form" class="input-group mb-3">
            <input id="comment" type="text" class="form-control" placeholder="댓글을 입력하세요." >
            <button  class="btn btn-primary" type="button" id="comment_btn">댓글등록</button>
        </div>
        <div id="comment_wrap">
            <table class="table">
                <thead>
                    <tr>
                        <th style="min-width:4rem;">닉네임</th>
                        <th style="min-width:9rem;">내용</th>
                        <th style="text-align:center;">작성일</th>
                        <th style="min-width:2.5rem"></th>
                        <th style="min-width:2.5rem"></th>
                    </tr>
                </thead>
                <tbody id="comment_table">

                </tbody>

            </table>
        </div>
    </div>
</body>
</html>